@font-face {
    font-family: "inter-Bold";
    src: url('../Assets/fonts/Inter-Bold\ \(1\).woff2') format('woff2');
}
@font-face {
    font-family: "inter-Regular";
    src: url('../Assets/fonts/Inter-Regular\ \(1\).woff2') format('woff2');
}
@font-face {
    font-family: "inter-SemiBold";
    src: url('../Assets/fonts/Inter-SemiBold\ \(1\).woff2') format('woff2');
}
@font-face {
    font-family: "roboto-medium";
    src: url('../Assets/fonts/roboto-medium\ \(1\).woff2') format('woff2');
}
@font-face {
    font-family: "roboto-regular";
    src: url('../Assets/fonts/roboto-regular\ \(1\).woff2') format('woff2');
}


.nav-container{

    min-width: 978px;
    position: relative;
}
.nav-containerSub{
    position: relative;
    display:flex;
    width: 100%;
    height: 56px;
    background-color: #2874f0;
    color: #f0f0f0;
    flex-direction: row;
    z-index:999;
}
.nav-left{
    height: 100%;
    min-width: 124px;

}
.nav-right{
    height: 100%;
    min-width: 124px;
}
.navSection{
    display: flex;
    max-width: 1248px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.nav-icon{ 
    display: flex;
    justify-content: flex-end;
    min-width:137px;
    align-items: center;
}
.nav-icons{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    align-items: center;
}
.nav-iconsA{
    text-decoration: none;
    cursor: pointer;
}
.nav-iconsB{
    text-decoration: none;
    margin-top: -1px;
    color:#f0f0f0;
    border:none;
    line-height: 1.4;
    font-weight: 400;
    font-size: 11px;
    
}
.iconImg{
    width: 75px;
}
.explore{
    font-size: 11px;
    font-style: italic;
    margin-top: -1px;
    text-decoration: none;
    color: #f0f0f0;
    font-family: "inter-Regular";
}
.plus{
  color: #ffe500;
  font-weight: 500;
  margin-right: 2px; 
  font-size: 11px;  
}
.explorePlus{
    width:10px;
}
.inputSection{
   display: flex;
   justify-content: flex-start;
   height: 100%;
   min-width: 304px;
   width:calc(100% - 540px);
   margin: 0 auto 0 12px;
   align-items: center;

   
}
.form{
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgb(0,0,0,.23);
    width: 100%;
    height: 36px;
    max-width:546px; 
    position: relative;
 
}
.formContainer{
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    background-color: #fff;
    width: 100%;

}
.formContainerSub{
    position: relative;
    display: inline-block;
    width: 100%;
}
.input{
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    outline: none;
    font-size: 14px;
    height: 36px;
    width: 100%;
    border: none;
}
.formButton{
    border: 1px solid #fff;
    background-color: #fff;
    height: 36px;
    width: 44px;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 12px 0 8px;
}
.loginSection{
    display: flex;
    align-items: center;
    min-width: 112px;
    flex:0 0 auto;
    margin:0 20px;
    max-width: 150px;
}
.loginSectionMid{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
}
.loginSectionSub{
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.loginInputSection{
    color: #2847f0;
    font-weight: 500;
    background-color: #fff;
    cursor:pointer;
    border-radius: 2px;
    padding: 5px 40px;
    border:1px solid #dbdbdb;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .1px;
    font-family: "inter-Regular",
}  
.seller{
     display: flex;
     align-items: center;
     flex: 0 0 auto;
     margin:0 20px;
     
}
.sellerA{
    display: flex;
    align-items: center;
    line-height: 20px;
    letter-spacing: .1px;
    font-weight: 500;
    color: rgb(240,240,240);
    position: relative;
    text-decoration: none;

}
.sellerSpan{
    font-family: "inter-Regular";
    font-size: 16px;
}
.more{
    display: flex;
    flex:0 0 auto;
    margin:0 20px;
    max-width: 150px; 
    display: flex;

}
.moreSub{
    display: flex;
    align-items: center;
    cursor:pointer;
    height: 100%;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    font-family: "inter-Regular";

}
.navSection2{
    position: relative;
    min-height: 40px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0, .1);
    
}
.navSection2-Sub{
    max-width: 978px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin: auto;
    position: relative;
}
.bar2span{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 500;
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.4;
    color: #000;
    font-family:"inter-Semibold";
}
.bar2svg{ 
    margin-left: 8px;
    transform: rotate(270deg);
} 
.menuItem{
    width: 240px;
    right: 19%;
    display: "block";
    position: absolute;
    top:100%;
    list-style: none;   
    background-color: #fff;
    border: 1px solid #f0f0f0;
    min-width: 100px;
    box-shadow: 0 4px 16px 0 rgba(0,0, 0, .1);
    z-index:100;
    border-radius: 3px;
} 
.menuItemList{
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.list{
    border-bottom: none;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    white-space:nowrap; 
}
.icon{
    width: 24px;
    height: 24px;
    justify-content: center;
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.menuImg{
    width: 18px;
    height: 18px;
}
.bar2menuSub{
    left:50%;
    transform: translateX(-10px);
    border-bottom: 100%;
    border-bottom-color: #f0f0f0;
    border-width: 10px;
    position: absolute;
} 
.bar2menuSub::after{
    content: "";
    border-bottom-color: #fff;
    border-width: 8px;
    transform: translateX(-8px);
    bottom: -10px;
}
.ProductData{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.productHead{
    background-color: rgb(255,255,255);
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}
.productHeadSub{
    background: #fff;
    padding: 12px 16px 0;
    border-bottom: 1px solid #f0f0f0;
    height: 100%;
    min-height: 72px;
}
.productHeadSection1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.productSubHead1{
    font-size: 12px;
    color: #878787;
    display: flex;
    font-family: "inter-Regular";
}
.ProductSubHeadSvg{
    transform: rotate(180deg);
}
.productSubHead2{
    font-size: 12px;
    color: #878787;
    display: inline-block;
    font-family: "inter-Regular";
}
.productSubHead3{
    font-size: 12px;
    color: #878787;
    display: inline-block;
    font-family: "inter-Regular";
}
.productHeadSection2{
    font-weight: 500;
    font-size: 16px;
    margin-top: 8px;
    display: inline-block;
    font-family: "inter-Semibold";
    color: #212121;
    line-height: 1.4;
}
.productHeadSection3{
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
    color: #878787;
    line-height: 1.4;
    font-family: "inter-Regular";
}
.productSection4Sub{
    border: 2px solid transparent;
    font-weight: 500;
    padding: 8px 10px 4px 0;
    font-family: "inter-Semibold";
    font-size: 14px;
}
.productSection4Sub2{
    font-weight: 500;
    border-bottom: 2px solid transparent;
    padding: 8px 0 4px;
    display: inline-block;
    margin: 0 10px;
    font-family: "inter-Regular";
}
.productHeadSection4{
    display: flex;
}
.productDataContainer{
    width:100%;
    display:flex;
    background-color: #fff;
    background: #fff;
    align-items: stretch;
}
.productDataContainerSub{
    line-height: 1;
    padding: 24px 0 30px 24px;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}
.productDataContainerA{
    display: flex;
    position: relative;
    text-decoration: none;
}
.productDataImage{
    position: relative;
    width:200px; 
}
.productDataImg{
   height: 200px;
   width: 200px;
   position: relative;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
.pdImage{
    position: relative;
    bottom: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}
.productDataAdd{
    margin-top: 16px;
    display:block;
}
.pdspan{
    display:inline-block;

}
.pdspanl{
    opacity: .5;
    cursor: pointer;
    position: relative;
}
.pdspani{
    visibility: hidden;
    position: absolute;
    top:0;
    left:0;
}
.pdspand{
    position: relative;
    width:14px;
    height: 14px;
    background-color: transparent;
    border:1.4px solid #c2c2c2;
    border-radius: 1.5px;
    cursor: pointer;
    
}
.pdlabel{
    margin-left: 8px;
    font-size: 14px;
    color: #212121;
    cursor:pointer;
}
.pdlabels{
    font-size: 14px;
    font-family: "inter-Regular";
}
.productDataLove{
    position:absolute;
    display: inline-block;
    right:-8px;
    top:2px;
    cursor:pointer
}
.pdl{
    position: relative;
    display: inline-flex;
}
.productDataContent{
    padding-left: 25px;
    width: calc(100% - 200px);
    display:flex;
    flex-direction: row;

}
.productDataContentOne{
  width:58.33%;
  display: inline-block;
}
.ProductDCOne{
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    font-family: "inter-Semibold";
}
.ProductDcTwo{
    margin-top: 6px;
    cursor: pointer;
    
}
.ProductDcTwoSpan1{
   position: relative;
}
.ProductDcTwoSpan2{
   padding-left: 8px;
   font-weight: 500;
   color: #878787;
   font-family: "inter-Semibold";
}
.ProductDcTwodiv{
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    background-color: #388e3C;
}
.productDataContentTwo{
    padding-left: 25px;
    width: 41.66%;
}
.rating-star{
    margin: 2px 0 0 2px;
    height: 10px;
}
.ProductDcTwosapn3{
    margin-top: 13px;
}
.ProductDcTwoUl{
    margin-top: 5px;
    color: #212121;
    line-height: 22px;
    display: table;
}
.ProductDcList{
   display: table-row;
   font-size: 14px;
   font-weight: 400;
   font-family: "inter_Regular";
}
.ProductDcList::before{
  content: ".";
  color: rgba(192,194,194);
  padding-right: 8px;
  display: table-cell; 
} 
.productDataContantTwo{
    padding-left: 25px;
    width:41.66%;
    display: inline-block;
}
.PDCTsub1{
    display:inline-block;
    margin-top: -1px;
    padding-right: 10px;
}
.PDCTsub2{
    display: inline-block;
    padding-bottom: 4px;
}
.PDCTsub3{
    margin-top: 5px;
}
.PDCTsub4{
    margin-top: 5px;
    display: inline-block;
}
.PDCTprice{
    font-size: 25px;
    display: block;
    font-weight: 500;
    color: #212121;
    cursor: pointer;
    font-family: 'inter-Semibold';
}
.PDCTactual{
    padding-bottom: 10px;
    display: inline-block;
    text-decoration: line-through;
    font-size: 14px;
    color: #878787;
    font-family: "inter-Regular";
}
.PDCToff{
    display: inline-block;
    margin-left: 8px;
    color: #388e3c;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -.2px;

}
.PDCTsub3sub{
    padding: 4px;
    border-radius: 2px;
    background-color: rgb(244,242,255);
    display: inline-block;
}
.PDCTsub3sub1{
    color: rgb(82,9,219);
    font-size: 12px;
    font-style: normal;
    display: inline-flex;
    font-family: "inter-Semibold";
} 
.PDCTupto{
  color: rgb(0,0,0);
  font-size: 14px;
  font-weight: 400;
  display: inline-flex;
  font-family: "inter-Regular";
}
.PDCToffon{
    color: rgb(0,0,0);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    display: inline-flex;
}
.PDCTexchange{
 color: rgb(0,0,0);
 font-size: 14px;
 font-weight: 400;
 display: inline-flex;
}
.PDCTsub5{
    margin-top: 5px;
    display: inline-block;
}
.PDCTsub5sub{
    color: rgb(199,0,85);
    font-size: 12px;
    font-weight: 700;
    display:inline-flex;
}
.filterContainer{
    display: flex;
    flex:0 0 280px;
    max-width: 280px;
    padding: 0px 10px 0px 0px;
    width:16.66%;
}
.productMainContainer{
    margin: 0 auto;
    min-width: 987px;
    max-width:1680px;
    padding: 8px;
    width: 100%;
    position: relative;
}
.productSubContainer{
  width:100%;
  display: flex;
  flex-direction: row;
}
.filterContainerSub{
   display: flex;
   flex-direction: column;
   width:100%;
}
.filterContainerMid{
    width:100%;
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.06);
}
.filterSection1{
    
    padding: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid #f0f0f0;
}
.filterSection1Sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filterHead{
    font-size: 18px;
    text-transform: capitalize;
    width:67%;
    font-weight: 500;
    letter-spacing: .3px;
    display: inline-block;
    font-family: "inter-Semibold";
}
.filterCategories{
    font-size: 14;
}
.filterCategorySection{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.filterCategoryName{
    font-size: 12PX;
    font-weight: 500;
    text-transform: uppercase;
    color:#212121;
    margin-bottom: 5PX;
    font-family: "inter-Semibold";

}
.filterCatLoc{
    padding: 5px 0;
    color: #212121;
    white-space: nowrap;
}
.filterCatSvg{
    display:inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.filterCatA{
    color: #878787;
    width:150px;
    display: inline-block;
    font-family: "inter-Regular";
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 5px;
    line-height: 1.4;
}
.filterTele{
    padding: 5px 0;
    color: #212121;
    white-space: nowrap;
}
.filterTeleA{
    font-weight: 500;
    white-space:nowrap ;
    display: inline-block;
    text-decoration: none;
    font-family: "inter-Semibold";
    font-size: 14px;
}
.filterPrice{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.filterPriceOne{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.filterPriceName{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: "inter-Semibold";
}
.filterPriceTwo{
    height:25px;

}
.filterPriceTwoSub{
    height: 100%;
    position: relative;
    bottom: -6px;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    line-height: 1.4;
}
.pricebox{
    height:25px;
    width:39.468px;
    background: #e0e0e0;
    display: inline-block;
}
.priceLine{
    position: relative;
    height: 13px;
    cursor: pointer;
}
.pricedots{
    margin-top: -12px;
}
.leftRound{

    display: inline-block;
    position: absolute;
    cursor: pointer;
    left:-13.5px;
    width: 20px;
    height: 20px;
    top:-3.5px;
    transition: translate .5s ease-out;
    z-index: 99;
}
.lRound{
    right:0;
    width:13px;
    height:13px;
    border-radius: 50%;
    border:1px solid #bababa;
    position: absolute;
    background-color: #fff;
    top:3.5px;
}
.rightRound{
   transform: translate(-1.19px);
   right:-13.5px;
   display: inline-block;
   position: absolute;
   cursor: pointer;
   width: 20px;
   height: 20px;
   top: -3.5px;
   transition: translate .5s ease-out;
   z-index:99
}
.rRound{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border:1px solid #bababa;
    position:absolute;
    background-color: #fff;
    top:3.5px;
}
.filterLineOne{
    background-color: #c2c2c2;
    height:2px;
    display: inline-block;
    position: absolute;
    top:6px;
    width: 100%;
}
.filterLineTwo{
    transform: translate(0px) scaleX(0.995);
    background-color: #2874f0;
    transform: left center;
    top:4px;
    height: 6px;
    display: inline-block;
    position: absolute;
    width: 100%;
}
.pricedots{
    margin-top: -12px;
}
.priceDot{
    width:39.4683px;
    display: inline-block;
    text-align: left;
    color: #c2c2c2;
}
.priceDot:nth-child(7){
    width:0;
}
.filterPriceFour{
    color: #3a3a3a;
    font-size: 14px;
    margin:5px -4px 0;
    display: flex;
    align-items: center;
    justify-content: stretch;
}
.priceMenuOne{
    display:inline-block;
    display: flex;
    flex-grow: 2;
    
}
.selecetMinPrice{
    width:100%;
    border:1px solid #e0e0e0;
    border-radius: 1px;
    appearance: none;
    background: #fff url('./images/d.svg') no-repeat 90% 50%;
    height:24px;
    font-size: 14px;
    color: #212121;
    line-height: 1;
    padding: 0 5px ;
    outline: none;
}
.priceMid{
    display: inline-block;
    margin: 0 9px;
    font-size: 14px;
    color: #878787;
    line-height: 1;
    flex: 1;
    text-align: center;
    font-family: 'inter-Regular';
}
.priceMenuTwo{
    display:inline-block;
    margin-left:1.5px;
    flex-grow: 2;
}
.selectMaxPrice{
    width:100%;
    border:1px solid #e0e0e0;
    border-radius: 1px;
    appearance: none;
    background: #fff url('./images/d.svg') no-repeat 90% 50%;
    height: 24px;
    font-size: 14px;
    color: #212121;
    line-height: 1;
    padding: 0 5px;
    outline: none;
} 
.assured-section{
    display: flex;
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.labelAssured{
    cursor: pointer;
    width: 100%;
    position: relative;

}
.Assuredfil{
    font-size: 14px;
    padding-left: 11px;
    color: #212121;
    display: inline-block;
    width: calc(100% 14px - 11px);
}
.Qmark{
    display:"inline-block";
    position:"relative"
}
.QmarkSpan{
 width: 16px;
 height: 16px;
 background-color: #fff;
 border:1px solid #e0e0e0;
 display: inline-block;
 text-align: center;
 font-size: 11px;
 font-weight: 500;
 color: #878787;
 border-radius: 50px;
 line-height: 16px;
 cursor: pointer;
}
.brand-section{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.brandSone{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;

}
.brandName{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'inter-Semibold';
}
.svgBrand{
  transform: rotate(90deg);
}
.brandStwoSUb{
    margin: 7px 0;
}
.searchBrand{
    margin-bottom: 7px;
    display: flex;
}
.SB{
width: 100%;
border-width: 0 0 2px;
border-color: #e0e0e0;
height: 20px;
font-size: 14px;
padding: 0 0 0 21px;
color: #878787;
outline: none;
font-family: "inter-Regular";
}
.searchIcon{
    width:12px;
    height: 20px;
    position: absolute;

}
.brandCheck{
  padding: 3px 0;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}
.brandCheckSub{
 padding: 3px 0;
 position: relative;
}
.brandNames{
  font-size: 14px;
  padding-left: 11px;
  color: #212121;
  display:inline-block;
  width: calc(100% - 14px - 11px);
  white-space: nowrap;
  line-height: 1;
  cursor: pointer; 
  font-family:"inter-Regular";
}
.screensize{
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;   
}
.screen_size{
    padding: 3px 0;
}
.screen_sizeSub{
    width: 1100%;
    display: "inline-block";
}
.screen_sizeLabel{
    padding: 3px 0;
    cursor: pointer;
    position: relative;
}
.screenSizeRange{
    font-size: 14px;
    padding-left: 11px;
    color: #212121;
    display: inline-block;
    width:calc(100% - 14px - 11px);
    cursor: pointer;
    font-family: "inter-Regular";
}
.filterColumnTwo{
    display: block;
    width: 100%;
    padding-top: 30px;
    text-align: center;
}
.filterA{
    text-align: center;
    padding-top: 30px;
    display: block;
    cursor: pointer;
}
.needHelp{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-family: "inter-Regular";
}
.helpMe{
   color: #2874f0;
   line-height: 1;
   font-size: 18px;
   margin: 5px 0 20px;
   font-family: "inter-Regular";
}
.filterAtag{
    margin-top: 30px;
}
.VQiHOk{
    margin-left: 4px;
    transform: rotate(180deg);
}
.electronic-Container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left:0;
    top:40px;
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.16);
    z-index: 99;
}
.electro-SubOne{
 display: flex;
 flex-direction: column;
 padding: 0 25px;
 width: 100%;
}
.electro-Head{
    margin-top: 5px;
    padding: 8px 0;
    font-weight: 500;
    color: #212121;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    font-family: "inter-Semibold";
}
.electro-Head::after{
        content: "►";
        font-size: 8px;
        color: rgb(194,194,194);
        margin-left: 6px;
        font-weight: 500;
        
}
.electro-title{
    padding: 5px 0;
    color: #666;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    font-family: "inter-Regular";
    
}
.electro-subTwo{
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    width: 100%;
}
.sm-container{
  position: absolute;
  top:0;
  left:0;
  right:0;
  background-color:rgb(255,255,255);
  height: 156px;  

}
.sm-Container{
    display: flex;
  flex-direction: column;
  flex-basis: auto;
}
.sm-container-sub{
    position: relative;
    
}
.sm-section1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-basis: auto;
}
.sm-section1Sub{
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
    font-size: 16px;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 52px;
    
}
.smflipArrow{
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 42px;
    min-height: 16px;
    line-height: 10px;
    position: relative;
}
.smflipIcon{
    width: 23px;
    display: table-cell;
    vertical-align: middle;
    line-height: 10px;
    max-width: 111px;
    padding-top: 2px;
    position: relative;
}
.smImage{
    width:23px;
    max-height: 30px;

}
.smflipname{
    color: #212121;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    padding-left: 12px;
    text-align: left;
}
.smtvHead{
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter-Regular';
}
.smSearch{
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 42px;
    min-height: 16px;
    line-height: 10px;
    position: relative;
}
.smCart{
    display: table-cell;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    width: 42px;
    max-height: 16px;
    line-height: 10px;
    position: relative;
    overflow: hidden;
}
.smLogin{
    color: #000;
    width:90px;
    display: table-cell;
    vertical-align: middle;
    max-height: 16px;
    line-height: 10px;
    position: relative;
    text-align: center;
}
.sm-section2{
    position: absolute;
    top:52px;
    right: 0;
    left: 0;
    height: 42px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex:1;
    background-color: rgba(255,255,255,1.00);
}
.sm-section2-sub{
    border-top-width: 1px;
    height: 458px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-color: rgba(220,223,230,1.00);
    border-bottom: 1px;
     border-bottom-color: rgba(220,223,230,1.00);
     border-top-style: solid;
    border-bottom-style: solid;
    border-right-color: rgba(220,223,230,1.00);
    border-left-color: rgba(220,223,230,1.00);

}
.sm-section2-mid{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sm-sort{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.sm-sort-section{
    display: flex;

    flex-direction: row;
    height: 48px;
    align-items: center;
    justify-content: center;
}
.sm-sort-title{
    color: rgba(17,17,18,1.00);
    margin-left: 8px;
    font-size: 14px;
    font-family: 'inter-Semibold';
    letter-spacing: -0.01px;
    flex-shrink: 1;
    display: inline;
}
.sm-filter-line{
    height: 16px;
    width: 1px;
    background-color: rgba(213,215,219,1.00);
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
}
.sm-filter-section{
    display:flex;
    flex:1;
    align-items: center;
    justify-content: center;
}


.sm-filter-sectionsub{
    display: flex;
    flex-direction: row;
    height: 48px;
    align-items: center;
    justify-content: center;
}
.sm-section3{
    position: absolute;
    top: 100px;
    height: 56px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%  
}
.sm-section3sub{

}
.sm-section3sub{
    min-height: 1px;
    min-width: 1px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 490px;
    margin-right: 11px;
    margin-left: 11px;

}
.sm-boxes{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
}
.sm-box{
    transform: translate(0px,0px);
     display: flex;
     flex-direction: column;
     align-items: stretch;
     position: absolute;
     top: 0;
     left: 0  
    
} 
.sm-box-sub{
  position: relative;
  background-color: rgb(255,255,255);
  border-color: rgb(219,219,219);
  padding-left: 4px;
  margin-top: 8px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}
.sm-box-icon{
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 8px;
    width: 32px;

}
.sm-boxes-des{
    display: flex;

}
.topsale{
    color: rgb(33,33,33);
    font-size: 12px;
    font-family: 'roboto-Regular';
    line-height: 16px;
}
.sm{
  color:"black";
   
}
.sm-box2{
    transform: translate(117px,0px);
    position: absolute;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    left:0;
    right: 0;
}
.sm-box3{
    transform: translate(211px,0px);
}