@font-face {
    font-family: "inter-Bold";
    src: url('../Assets/fonts/Inter-Bold\ \(1\).woff2') format('woff2');
}
@font-face {
    font-family: "inter-Regular";
    src: url('../Assets/fonts/Inter-Regular\ \(1\).woff2') format('woff2');
}
@font-face {
    font-family: "inter-SemiBold";
    src: url('../Assets/fonts/Inter-SemiBold\ \(1\).woff2') format('woff2');
}
@font-face {
    font-family: "roboto-medium";
    src: url('../Assets/fonts/roboto-medium\ \(1\).woff2') format('woff2');
}
@font-face {
    font-family: "roboto-regular";
    src: url('../Assets/fonts/roboto-regular\ \(1\).woff2') format('woff2');
}



*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
body{
    scrollbar-width: none;
    -ms-overflow-style:none
}
body::-webkit-scrollbar{
    display:none
}
.container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.containerSub{
    display: flex;
    justify-content: center;
    width:100%; 
}
.header{
    display: flex;
    align-items: center;
    max-width: 1600px;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 12px 28px;
    z-index: 999;
}
.sectionA{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.filpIcon{
    margin-right: 36px;
}
.filpIconLink{
    text-decoration: none;
} 
.iconImage{
    width: 160px;
    height: 40px; 
} 
.input{
    width: 100%;
    border:0;
    outline:0;
    font-size: 17px;
    height: 40px;
    background-color: transparent;
    font-family: 'inter-Regular';
}
.input::placeholder{
     font-size: 17px; 
     display: flex;
     align-items: center;
     font-family: "inter-Regular"; 
}
.form{
    display: inline-block;
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color:#f0f5ff;
}
.subForm{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; 
}
.button{
    height:40px;
    border-radius: 2px;
    cursor: pointer;
    padding: 8px 8px 8px 12px;
    background-color: transparent;
    border: none;
}  
.svg{
    width: 24px;
    height: 24px;
}
.inputBox{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
}   con
.input{
    border: 0;
    outline: 0;
    font-size: 17px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: transparent;
} 
.sectionB{
    display: flex;
    align-items: center;
}
.login{
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}
.loginAlign{
    position:relative;
    display:flex;
    align-items: center;
    border:  1px solid transparent;
    padding: 8px;
}
.loginAnger{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
}
.loginImg{
    margin-right: 8px;
    width: 24px;
    height: 24px;
}
.loginTitle{
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    font-family: "inter-Regular";
}
.downArrow{
    width:12px;
    height:12px; 
    margin-left: 8px;
}
.cartTitle{
    color: #000;
    text-decoration: none;
    font-size: 16px;  
    line-height: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: "inter-Regular";
}
.menu{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 8px;
}  
.tagA{
    display: flex;
    align-items: center;
}
.menuItem{
    width: 210px;
    right:0;
    display: "block";
    position: absolute;
    top: 100%;
    list-style: none;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    min-width: 100px;
    box-shadow: 0 4px 16px 0 rgba(0,0, 0, .1);
    z-index:100;
    border-radius: 8px;
}
.menuItemList{
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.list{
    border-bottom: none;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    white-space:nowrap; 
}
.icon{
    width: 24px;
    height: 24px;
    justify-content: center;
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.menuImg{
    width: 18px;
    height: 18px;
}
.LoginList{ 
    width:280;
    position:absolute;
    top:100%;
    list-style: none;
    background-color: #fff;
    border:1px solid #f0f0f0;
    min-width: 100px;
    box-shadow:0 4px 16px 0 rgba(0,0, 0, .1);
    border-radius: 8px;
}
.newCustom{ 
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display:flex;
    justify-content: space-between;
} 
    .newCustomer{ 
    color: #000;
}
.sign{
   color: #2a55e5;
   font-family: "inter-Semibold"; 
}
.mb{
    display: none;
}
.icon2{
    display:none;
}
.login:nth-child(1){
   display: none;
}
.categoryContainer{
   height: 126px;
   background-color: rgb(255,255,255);
   margin-top: 0;
 
}
.categorySub{
    background-color: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    margin-bottom: 16px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.catAlign{
    background: #fff;
    min-height: 126px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    position: relative;
}
.catAnger{
    min-width:90px;
    padding: 16px;   
    cursor: pointer; 
    text-decoration: none;
    cursor: pointer;
    box-sizing: content-box;
    color: #333;
    
}
.catAnger:nth-child(9){
    padding-left: 24px;
}
.catAnger:nth-child(1){
    padding-left: 24px;
}
.catElement{
    align-items: center;
}
.catImg{
 
    width:64px;
    height: 64px;
    position: relative;
    margin: auto;
    align-items: center;
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
}

.catImage{
    position: absolute;
    
   
}

.catName{
    font-family: 'inter-Semibold';
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.categoryArrow::before{
    content: "";
    display: inline-block;
    position: relative;
    height: 6px;
    width: 6px;
    border-color: #111112;
    border: solid;
    border-width: 0 2px 2px 0;
    transform: scale(1) translateY(-50%) rotate(45deg);
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
    margin-left: 8px; 

}
.slider{
    margin-top: 16px;
    background-color: rgba(255,255,255);
    margin-top: 16px;
} 
.Slidersub{
    background-color: rgb(255,255,255); 
    margin:0px 0px 16px; 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
   
}
.sidebar{
    padding: 8px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.SlidebarSub{
    width: 12px;
    height: 4px;
    border-radius: 2px;
    border-color: rgb(0,0,0,0.13);
    border-style: solid;
    margin-right: 4px;
    margin-left: 4px;
    display: flex;
    flex-direction: column;

}
.bigBillion{
    margin-top: 16px;
    background-color:rgb(255,255,255);
    margin-top: 0px; 
}
.bigBillionSub{
    background-color: rgb(255,255,255);
    margin:0px 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
} 
.bigBillionAnger{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    border:#000 solid;
    border-color: transparent;
}
.slideButtonOne{
    display: flex;
    position: absolute;
    width:40px;
    background-color: #fff;
    height: 88px;
    top:0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    box-shadow: 0 1px rgba(0,0,0,.12);
}
.ImgDiv{
    position: relative;
}
.slideButtonTwo{
    position: absolute;
    border-radius: 4px 0 0 4px;
    display: flex;
    width: 40px;
    background-color: #fff;
    height: 88px;
    top:0;
    right: 0;
    bottom:0; 
    margin: auto 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.12);
}
   
@media screen and (max-width:1024px) {  
    .cartTitle{
        display: none;
    }  
    .header{
        padding: 12px;
        max-width: 996px;
    }
    .sectionA{ 
        flex-grow: 1; 
        display:flex;
        align-items: center;
    }
    .login{
        padding: 0 6px;
    }
     
    .icon2{
        display:none;
    }
    .input{
        display: flex;
        align-items: center;
    } 
    .login:nth-child(1){ 
        display: none;
    } 
    .catAlign{
       overflow-x: scroll;
       justify-content: normal;
        min-width: 135;
    }
    .categoryContainer{
        height:135px;
    
    } 
   
    
  
}
@media screen and (max-width:425px) {

    .header{
        padding: 4px 16px;
    }
    .mb{
        display: flex;
    }
    .input{
        display: none;
    }
    .filpIcon{
        display: flex;
        align-items: center;
    }
    .login:nth-child(3){
        display: none;
    }
    .downArrow{
        display: none;
    }
    .login:nth-child(4){
        display: none;
    }
    .icon1{
        display: none;
    }
    .icon2{
        display: flex;
        height: 40px;
      
    }
    .mobileIcon{ 
        margin-right: 29px;
    }
        .login:nth-child(1){
        display: inline-block;
        
    }
    .loginAlign{
        padding: 0;
    }
     .loginAnger{
        display: flex;
     }
    .login{
        display: inline-block;
        padding: 0;
    }
    .loginImg{
        margin-left:12px ;
        margin-right: 0;
        padding: 0;
    }
    .loginTitle{
        margin-left: 4px;
    }
    .catAnger:nth-child(0){
        padding: 12px 12px 8px 24px;
    }
    .catAnger:nth-child(2n){
        padding:12px 12px 8px 12px;
    }
    .catImg{
        margin-bottom: 4px;
        
    } 
    .catName{
        font-family: 'inter-Regular';
        font-size: 12px; 
        line-height: 16px; 
    } 
    .catName:nth-child(1){
        display: block;
    }
    .categoryContainer{
        height:127px;
    }
  
   
    
}
