@font-face {
    font-family: "inter-Bold";
    src: url('../Assets/fonts/Inter-Bold\ \(1\).woff2') format('woff2');
}
@font-face {
    font-family: "inter-Regular";
    src: url('../Assets/fonts/Inter-Regular\ \(1\).woff2') format('woff2');
}
@font-face {
    font-family: "inter-SemiBold";
    src: url('../Assets/fonts/Inter-SemiBold\ \(1\).woff2') format('woff2');
}
@font-face {
    font-family: "roboto-medium";
    src: url('../Assets/fonts/roboto-medium\ \(1\).woff2') format('woff2');
}
@font-face {
    font-family: "roboto-regular";
    src: url('../Assets/fonts/roboto-regular\ \(1\).woff2') format('woff2');
}



*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
body{
    scrollbar-width: none;
    -ms-overflow-style:none
}
body::-webkit-scrollbar{
    display:none
}
.container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    position: sticky;
    top:0;
    height: 67px;
    z-index:9999; 
}
.containerSub{
    display: flex;
    justify-content: center;
    width:100%; 
}
.header{
    display: flex;
    align-items: center;
    max-width: 1600px;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 12px 28px;
    z-index: 999;
}
.sectionA{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.icon1{
    width: 160px;
    height: 40px;
}
.filpIcon{
    margin-right: 36px;
}
.filpIconLink{
    text-decoration: none;
}  
.iconImage{
    width: 160px;
    height: 40px; 
} 
.input{
    width: 100%;
    border:0;
    outline:0;
    font-size: 17px;
    height: 40px;
    background-color: transparent;
    font-family: 'inter-Regular';
}
.input::placeholder{
     font-size: 17px; 
     display: flex;
     align-items: center;
     font-family: "inter-Regular"; 
}
.form{
    display: inline-block;
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color:#f0f5ff;
}
.subForm{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; 
}
.button{
    height:40px;
    border-radius: 2px;
    cursor: pointer;
    padding: 8px 8px 8px 12px;
    background-color: transparent;
    border: none;
}  
.svg{
    width: 24px;
    height: 24px;
}
.inputBox{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
}   con
.input{
    border: 0;
    outline: 0;
    font-size: 17px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: transparent;
} 
.sectionB{
    display: flex;
    align-items: center;
}
.login{
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}
.loginAlign{
    position:relative;
    display:flex;
    align-items: center;
    border:  1px solid transparent;
    padding: 8px;
}
.loginAnger{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
}
.loginImg{
    margin-right: 8px;
    width: 24px;
    height: 24px;
}
.loginTitle{
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    font-family: "inter-Regular";
}
.downArrow{
    width:12px;
    height:12px; 
    margin-left: 8px;
}
.cartTitle{
    color: #000;
    text-decoration: none;
    font-size: 16px;  
    line-height: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: "inter-Regular";
}
.menu{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 8px;
}  
.tagA{
    display: flex;
    align-items: center;
}
.menuItem{
    width: 210px;
    right:0;
    display: "block";
    position: absolute;
    top: 100%;
    list-style: none;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    min-width: 100px;
    box-shadow: 0 4px 16px 0 rgba(0,0, 0, .1);
    z-index:100;
    border-radius: 8px;
}
.menuItemList{
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.list{
    border-bottom: none;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    white-space:nowrap; 
}
.icon{
    width: 24px;
    height: 24px;
    justify-content: center;
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.menuImg{
    width: 18px;
    height: 18px;
}
.LoginList{ 
    width:280;
    position:absolute;
    top:100%;
    list-style: none;
    background-color: #fff;
    border:1px solid #f0f0f0;
    min-width: 100px;
    box-shadow:0 4px 16px 0 rgba(0,0, 0, .1);
    border-radius: 8px;
}
.newCustom{ 
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display:flex;
    justify-content: space-between;
} 
    .newCustomer{ 
    color: #000;
}
.sign{
   color: #2a55e5;
   font-family: "inter-Semibold"; 
}
.mb{
    display: none;
}
.icon2{
    display:none;
}
.login:nth-child(1){
   display: none;
}
.categoryContainer{

   background-color: rgb(255,255,255);
   margin-top: 0;
 
}
.categorySub{
    background-color: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    margin-bottom: 16px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    
}
.catAlign{
    background: #fff;
    min-height: 126px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    position: relative;
}
.catAnger{
    min-width:90px;
    padding: 16px;   
    cursor: pointer; 
    text-decoration: none;
    cursor: pointer;
    box-sizing: content-box;
    color: #333;
    
}
.catAnger:nth-child(9){
    padding-left: 24px;
}
.catAnger:nth-child(1){
    padding-left: 24px;
}
.catElement{
    align-items: center;
}
.catImg{
 
    width:64px;
    height: 64px;
    position: relative;
    margin: auto;
    align-items: center;
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
}
   
.catImage{
    padding: 0;
   
}

.catName{
    font-family: 'inter-Semibold';
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.categoryArrow::before{
    content: "";
    display: inline-block;
    position: relative;
    height: 6px;
    width: 6px;
    border-color: #111112;
    border: solid;
    border-width: 0 2px 2px 0;
    transform: scale(1) translateY(-50%) rotate(45deg);
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
    margin-left: 8px; 

}
.slider{
    margin-top: 16px;
    background-color: rgba(255,255,255);
    margin-top: 16px;
} 
.Slidersub{
    background-color: rgb(255,255,255); 
    margin:0px 0px 16px; 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
   
}
.sidebar{
    padding: 8px;
    padding-top: 7px;
    padding-bottom: 11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.SlidebarSub{
    width: 12px; 
    height: 4px;
    border-radius: 2px;
    border-color: rgb(0,0,0,0.13);
    border-style: solid;
    margin-right: 4px;
    margin-left: 4px;
    display: flex;
    flex-direction: column;

}
.SlidebarSub.active {
  content: "";
  width: 48px;
  width: 0%;
  background-color: #878787;
  animation: fillBar 5s linear forwards;
  
}


@keyframes fillBar {
  from {
    width: 0%;
   background-color: black;
  }
  to {
    width: 48px;
   background-color: black;
  }  
}

.bigBillion{
    margin-top: 8px;
    background-color:rgb(255,255,255); 
    width: 100%;
    margin-bottom: 16px;
}
.bigBillionSub{ 
    background-color: rgb(255,255,255);
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: stretch;
    position: relative;
} 
.bigBillionAnger{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    border:#000 solid;
    border-color: transparent;
}
.slideButtonOne{
    display: flex;
    position: absolute;
    width:40px;
    background-color: #fff;
    height: 88px;
    top:0;
    left: 0;
    bottom: 0;
    border-radius: 0 4px 4px 0;
    margin: auto 0;
    border: none;
    box-shadow: 0 1px 4px rgba(0,0,0,.12) ;
}
.ImgDiv{
   padding: 0;
}
.slideButtonTwo{
    position: absolute;
    border-radius: 4px 0 0 4px;
    display: flex;
    width: 40px;
    background-color: #fff;
    height: 88px;
    top:0;
    right: 0;
    bottom:0; 
    margin: auto 0;
    border: none;
    box-shadow: 0 1px 4px rgba(0,0,0,.12);
}
.slideButtonspan{
   position: absolute;
   right:16px;
   top:50%;
   transform: scale(1) translateY(-50%);
    
}
.slideButtonspan::before{
    content: "";
    position: relative;
    border-color: #878787;
    border-style: solid;
    border-width: 2px 2px 0 0;
    display: inline-block;
    height: 6px; 
    width: 6px;
    transform: rotate(225deg);
    
}
.slideButtonspanTwo{
    position: absolute; 
    right: 16px;
    top: 50%;
    transform: scale(1) translateY(-50%);

}
.slideButtonTwo::after{
   content: "";
   position:absolute;
   top: 50%;
   right:16px;
   border-color: #878787;
   border-style: solid;
   border-width: 2px 2px 0 0;
   display: inline-block;
   height: 6px;
   width: 6px;
   transform: rotate(45deg);
}
.topdeals{
  height: 100%;
  width: 100%; 
} 
.topdealsSub{
    background-color:rgb(255,255,255);
    margin:0px 0px 16px;
    width:100%;
    height:100%;
}
.topDealsContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-width: 0px;
    min-height: 0px;
    min-width: 0px;
    position: relative;
}
.topDealsTitle{
    display: flex;
    flex:1 1 0%;
    flex-direction: row;
    align-items: stretch;
    border-width: 0px;
    min-height: 0px;
    min-width: 0px;
    position: relative; 
    
}
.topDealsAlign{
    display:  flex;
    flex:1 1 0%;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 16px;
}
.topDealsHead{
    color: (31,31,31);
    display: inline;
    white-space: nowrap;
    max-width: 100%;
    font-size:22px;
    font-family: "inter-Semibold";
}
.topDealContent{
  background:linear-gradient(
    rgb(255,255,255),
      rgb(255,255,255)
  )
}
.topDealContentSub{
    align-items: stretch;
    display: flex;  
    flex-direction: column;
    text-decoration: none;
    position: relative;
}
.topDealContentMid{
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 12px;
}

.singleProduct{
    width:216px;
    display:flex;
    flex-shrink: 0;
    
}
.singleProductSub{
    width: 100%;
    height: 100%;
    padding: 12px 24px;
}
.singleProductMid{
    margin: 8px;
    flex: 1 1 0%;
    flex-direction: column;
}
.topProducts{
    display: flex; 
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border-radius: 4px;
    

}
.topContent{
    display:flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: stretch;
    position:relative;
    padding-top: 12px;
}
.topContentOne{
    display: inline;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    text-align: center;
    font-family: "inter-Regular";
    line-height: 20px;
    letter-spacing: -.01px;

}
.TopDelasImages{
    filter:none;
    opacity: 1;
    transition: filter 0.5s ease-in-out,opacity  0.5s ease-in-out;
    width: 100%;
    margin: auto;
    display: block;
    object-fit: contain;
    aspect-ratio: 1/1;
    
}
.contentOffer{
    display: inline;
    white-space: nowrap;
    text-align: center;
    overflow: normal;
    font-size: 14px;
    line-height: 20px;
    font-family: 'inter-Semibold';
    letter-spacing: -.01px;
} 
.shopNow{ 
    cursor:pointer;
    width: 100%;
    margin-left: 12px;
}
.shopNowSub{ 
    height: calc(100%-16px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.shopNowMid{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.topDealButtonRight{
    display: flex;
    position: absolute;
    width:40px;
    height: 88px;
    background-color: #fff;
    top:0;
    bottom: 0;
    margin: auto 0;
    right: 0; 
    border-radius: 4px 0 0 4px;
    bottom: 0;
    margin: auto 0;
    position: absolute; 
    border: none;
    box-shadow:0 1px 4px rgba(0,0,0,.12);
   
}
.topDealButtonSpan{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: scale(1) translateY(-50%);
}
.topDealButtonSpan::before{
    content: "";
   position:relative;
   border-color: #878787;
   border-style: solid;
   border-width: 2px 2px 0 0;
   display: inline-block;
   height: 6px;
   width: 6px;
   transform: rotate(45deg);

}
.topDealButtonLeft{
  display: flex;
  position: absolute;
  width:40px;
  height: 88px;
  background-color: #fff;
  top:0;
  border: none;
  bottom:0;
  margin:auto 0;
  box-shadow: 0 1px 4px rgba(0,0,0,.12);
  left:0;
  border-radius: 0 4px 4px 0;
}
.topDealButtonLeftSpan{
    position: absolute;
   right:16px;
   top:50%;
   transform: scale(1) translateY(-50%);
}
.topDealButtonLeftSpan::before{
      content: "";
    position: relative;
    border-color: #878787;
    border-style: solid;
    border-width: 2px 2px 0 0;
    display: inline-block;
    height: 6px; 
    width: 6px;
    transform: rotate(225deg);
}
.TopDealsMainContainer{
    display: flex;
    background-color: #ffff;
    margin-top: 0;
    margin-bottom: 16px;

    
}

.ShopNowImg{
    filter: none;
    opacity: 1;
    transition:filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
    width:100%; 
    margin: auto;
    display: block; 
    object-fit: cover; 
    height: 334px;
    aspect-ratio: 253.328/334;
    overflow: clip;
    overflow-clip-margin: content-box;
    
}
.topDealsArrow{
    display:none;
}
.offerContainer{
    height: calc(100%-16px);
    margin-top: 0;
    background-color: #ffff;
}
.offerContainerSub{
    background-color: rgba(255,255,255,1.00);
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.offerContainerMid{
    height: 100%;
    width: 100%;
}
.offerContent{
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    align-items: stretch;
    position:relative;
}
.OfferSingle{
   display: flex;
   width: 33.333%;
   flex-basis: 33.333%;
   flex-shrink: 0;
   flex-grow: 0;
}
.offerSingleMid{
    background-color: rgba(240,242,242,1.00);
    margin-right: 4px;
    margin-left: 4px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}
.offerSingleSub{
    aspect-ratio: 41/22;
}

.offerImg{
    filter: none;
    opacity:1;
    transition: filter 0.5s ease-in-out,opacity 0.5s ease-in-out;
    width: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
    aspect-ratio: 41/22;
}
.topProductContainer{
   height: calc(100%-16px);
   background-color: #ffff;
   margin-top: 0;
}
.topProductMid{
    background-color: rgba(255,255,255,1.00);
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
}
.topPrductSub{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
    position: relative;
}
.topProductTitle{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position:relative;
    padding: 16px;

}
.toProductHead{
    color: #1f1f1f;
    display: inline;
    white-space: nowrap;
    font-family: "inter-Semibold";
    font-size: 22px;
    letter-spacing: -0.02px;
    line-height: 30px;
}
.topOfferProductMain{
    background: linear-gradient(#ffff,#ffff);
}
.topOfferProductMid{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    position: relative;
}
.topOfferProductSub{
    display: flex;
    padding-bottom: 12px;
    padding-right: 4px;
    padding-left: 4px;
    display: flex;
    flex-direction: row;

}
.topOfferSingle{
     width:216px;
}
.topOfferSingleSub{
    margin: 8px;
    display: flex;
    flex: 1 1 0;
    align-items: stretch;
    position: relative;
}
.topOfferSingleMid{
    display: flex;
    align-items: center;
    position: relative;
    padding:12px 14px;
}
.topOfferP{
    display: flex;
    flex:1 1 0%;
    flex-direction:column;
    align-items: center;
    position: relative;
}
.topOfferSImage{
  aspect-ratio: 1/1;
}
.topOfferImg{
    filter:none;
    opacity:1;
    transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out ;
    width: 100%;
    margin: auto;
    display: block;
    object-fit: contain;
    aspect-ratio: 1/1;
    width:152px;
    height: 152px; 
} 
.topOfferSContent{
   display:flex;
   flex:1 1 0%;
   flex-direction: column;
   align-items: stretch;
   position: relative;
   padding-top: 12px;
}
.topOfferContentOne{
   display: inline;
   white-space: nowrap;
   max-width: 100%;
   text-align: center;
   font-family: "inter-Regular";
   font-size: 14px;
}
.topOfferContentTwo{
    display:inline;
    white-space: nowrap;
    text-align: center;
    max-width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-family: "inter-Semibold";
}
@media screen and (max-width:1024px) {  
    .cartTitle{
        display: none;
    }  
    .header{
        padding: 12px;
        max-width: 996px;
    }
    .sectionA{ 
        flex-grow: 1; 
        display:flex;
        align-items: center;
    }
    .login{
        padding: 0 6px;
    }
     
    .icon2{
        display:none;
    }  
    .input{
        display: flex;
        align-items: center;
    } 
    .login:nth-child(1){ 
        display: none;
    } 
    .catAlign{
       overflow-x: scroll;
       justify-content: normal;
        min-width: 135;
    }
    .categoryContainer{
        height:135px;
    
    } 
    .slideButtonOne{
        display:none;
    }
    .slideButtonTwo{
        display: none;
    }
    .catImg{
        margin-bottom: 4px;
    }  
    .catName{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

   .topDealButtonRight{
    display: none; 
   }
   .TopDealsMainContainer{
    height:274px;
    overflow-x: scroll;
   }
   .topContent{
    align-items: center;
    justify-content: center;
   }
   .TopDelasImages{
    width: 108px;
    height: 108px;
    margin: 0;
   }
   .topProducts{
    display: inline-block;
   }
  
   .shopNow{
    display:none
   }
   .TopDealsMainContainer::-webkit-scrollbar{
      display:"none"
   }
  
}
@media  screen and (max-width:728px) {
    .TopDealsMainContainer{
        height:calc(100%-16px) ;
    }
    .singleProduct{
        width: 172px; 
    }
    .singleProductSub{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    .topDealsArrow{
        display: none;
    }
}
@media screen and (max-width:425px) {
    
    .header{
        padding: 4px 16px;
    }
    .mb{
        display: flex;
    }
    .container{
        height: 48px;
    }
    .input{
        display: none;
    }
    .filpIcon{
        display: flex;
        align-items: center;
    }
    .login:nth-child(3){
        display: none;
    }
    .downArrow{
        display: none;
    }
    .login:nth-child(4){
        display: none;
    }
    .icon1{
        display: none;
    }
    .icon2{
        display: flex;
        height: 40px;
      
    }
    .mobileIcon{ 
        margin-right: 29px;
        height: 24px;
        width: 24px;
    }
        .login:nth-child(1){
        display: inline-block;
        
    }
    .sectionB{
      height: 24px;
      display: flex;
      align-items: center;
    }
    .loginAlign{
        padding: 0;
    }
     .loginAnger{
        display: flex; 
        text-align: center;
        align-items: center;
     } 
    .login{
        display: inline-block; 
        padding: 0;
    }
    .loginImg{
        margin-left:12px ;
        margin-right: 0;
        padding: 0;
    }
    .loginTitle{ 
        margin-left: 4px;
    }
    .catAnger:nth-child(0){
        padding: 12px 12px 8px 24px;
    }
    .catAnger:nth-child(2n){
        padding:12px 12px 8px 12px;
    }

    .catImg{
        margin-bottom: 4px;
        
    } 
    
    .catName{
        font-family: 'inter-Regular';
        font-size: 12px; 
        line-height: 16px; 
    } 
    .catName:nth-child(1){
        display: block;
    }
    .categoryContainer{
        height:127px;
    } 
    .categoryArrow{ 
        display: none;
    }
    .topdeals{
        background-color: #ffff;
        height: calc(100% - 16px);
    }
    .topdealsSub{
        background-color: rgba(255,255,255,1.00);
         margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: relative;
    }
    .topDealsHead{
        font-family: "inter-Semibold";
        font-size: 17px;
    }
    .TopDealsMainContainer{
        height: auto;
            }
    .topDealContentMid{
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .singleProductSub{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid rgb(224,224,224);
    } 
    .topDealsArrow{
        display: flex;
    }
    .singleP{
        display: flex;
        flex-direction: row;
    }
    .singleProduct{
        display:flex;
        width: 100%;
    }
    .TopDelasImages{
        width: 48px;
        height: 48px;
    }
    .topContent{
        margin-left: 16px;
        padding: 0;
        justify-content: flex-start;
        align-items: start;
    }
    .contentOffer{
        text-align: left;
    }
    .topContentOne{
         font-size: 14px;
         font-family: "inter-Semibold";
         letter-spacing: -0.01px;
         line-height: 20px;
         color: rgb(31,31,31);
    }
    .contentOffer{
        font-size: 14px;
        font-family: 'inter-Regular';
        letter-spacing: -0.01px;
        line-height: 20px;
        color: rgb(112,112,112);
    }     
}
