.App {
  width: 100vw;
  min-height: 100vh;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  background-color: rgb(241,242,244);
  flex:1 1 0%;
  overflow-x: hidden;
  overflow-y: auto;
} 
.App::-webkit-scrollbar{
  display: none;
}
.main-section{
  flex: 1;
}
.main-subSection{
  display: flex;
  justify-content: center;
  margin: 0 16px;
}
.sub{
  max-width: 1600px;
  margin-top: 8px; 
  width: 100%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } 
}
@media screen and (max-width:1024px){
     .sub{
      max-width: 1024px; 
     }
}
@media screen and (max-width:425px) {
  .main-subSection{ 
    margin: 0;
  } 
  .sub{
    margin-top: 0;
  }
} 
 


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

